block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/d3.v4.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/main.css')

block content
  #form.container-flex.w-25.ml-auto.mr-auto.mt-5
    form#addMetrics(action='/metrics.json', method="post")
      .form-group
        input.form-control(type='text', name="metrics[0][value]", placeholder="value")
        input.form-control.mt-2(type='text', name="metrics[0][timestamp]", placeholder="timestamp")
      .form-group
        input.form-control(type='text', name="metrics[1][value]", placeholder="value")
        input.form-control.mt-2(type='text', name="metrics[1][timestamp]", placeholder="timestamp")
      .form-group
        input.form-control(type='text', name="metrics[2][value]", placeholder="value")
        input.form-control.mt-2(type='text', name="metrics[2][timestamp]", placeholder="timestamp")
      .container
        button#login_submit.btn.btn-primary.btn-block(type='submit') Add
        hr
        button.btn.btn-success.btn-block(type='button', href='/login', onClick='document.location.href="/"') Home