extends layout

block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/d3.v4.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/main.css')

block content  
  div.container
    div.row.justify-content-end
      div.col-md-3.col-md-3.mt-2
        button.btn.btn-warning.mr-3(href='/logs' onClick='window.open(document.location.href="/logging"); return false;') Logs
        button.btn.btn-danger.mr-3(href='/logout' onClick='document.location.href="/logout"') Logout
    div.row
      div.column.container-flex.w-50.ml-auto.mr-auto.mt-5
        div.row.justify-content-center
          h1 Select your collections !
        div.row.justify-content-center.mt-3
          select.form-control(class='collections' name="collections")
          button.btn.btn-success.ml-2(href='/addMetrics' onClick='document.location.href="/addMetrics"') Add Metrics !
        div.row.justify-content-center.mt-4
          button.btn.btn-primary(type="button" id="show-metrics") Bring my metrics
    div.row.mt-3
      div.col-md-12
        div.row.justify-content-center
          div.chartComponent
            svg.chart(width="960" height="500")
      
      
  script 
    :coffee-script
      $('.chart').hide()
      
      $.get '/metrics.json', {}, (data) ->
        collections = data.reduce (acc, item) ->
          collection = item.key.split(':')[1]
          if acc.indexOf(collection) == -1
            acc.push(collection)
          return acc
        , []

        $('.collections').empty()

        html = collections.map (collection) ->
          "<option value=" + collection + ">" + collection + "</option>"
        $('.collections').html(html.join(''))

        $('#show-metrics').click (e) ->
          e.preventDefault()
          keyValue = $('.collections').val()
    
          selectedData = data.reduce (acc, item) ->
            if item.key.split(':')[1] == keyValue
              acc.push(item)
            return acc
          , []

          selectedData.sort((x,y) -> parseInt(x.key.split(':')[2])-parseInt(y.key.split(':')[2]))

          margin = {top: 20, right: 20, bottom: 30, left: 50}
          width = 960 - margin.left - margin.right
          height = 500 - margin.top - margin.bottom

          format = d3.timeFormat("%a %Q")

          x = d3.scaleTime().range([0, width])
          y = d3.scaleLinear().range([height, 0])

          area = d3.area()
            .x((d) -> return x(d.date))
            .y0(height)
            .y1((d) -> return y(d.value))

          valueline = d3.line()
            .x((d) -> return x(d.date))
            .y((d) -> return y(d.value))

          
          svg = d3.select("svg")
            .attr("width", width + margin.left + margin.right)
            .attr("height", height + margin.top + margin.bottom)
            .append("g")
            .attr("transform",
                    "translate(" + margin.left + "," + margin.top + ")")

          selectedData.forEach((d) ->
              d.date = parseInt(d.key.split(':')[2])
              d.value = +d.value
              return d
          )
          
          x.domain(d3.extent(selectedData, (d) -> return d.date))
          y.domain([0, d3.max(selectedData, (d) -> return d.value+1 )])

          svg.append("path")
            .datum(selectedData)
            .attr("class", "area")
            .attr("d", area);

          svg.append("path")
            .data([selectedData])
            .attr("class", "line")
            .attr("d", valueline)

          svg.append("g")
              .attr("transform", "translate(0," + height + ")")
              .call(d3.axisBottom(x))

          svg.append("g")
              .call(d3.axisLeft(y))

          $('.chart').show()



