extends layout

block head
  // Here will go our css/js links
  script(type="text/javascript" src="/js/d3.v4.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/jquery-3.2.1.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/bootstrap.min.js" charset="utf-8")
  script(type="text/javascript" src="/js/index.js" charset="utf-8")
  link(rel='stylesheet', href='/css/bootstrap.min.css')
  link(rel='stylesheet', href='/css/main.css')
  link(rel='stylesheet', href='/css/bootstrap-theme.min.css')

block content  
  button.btn.btn-danger(href='/logout' onClick='document.location.href="/logout"') Logout
  button.btn.btn-success(href='/addMetrics' onClick='document.location.href="/addMetrics"') Add Metrics !
  select.form-control(class='collections')
  div.container
    div.col-md-12
      h1 #{text}
      button#show-metrics(type="button" class="btn btn-default") Bring my metrics
      #metrics
      div.chart
      
  script 
    :coffee-script
      $('.chart').hide()
      
      $.get '/metrics.json', {}, (data) ->
        collections = data.reduce (acc, item) ->
          console.log(item)
          collection = item.key.split(':')[1]
          if acc.indexOf(collection) == -1
            acc.push(collection)
          return acc
        , []
        
        $('.collections').empty()

        html = collections.map (collection) ->
          "<option value=" + collection + ">" + collection + "</option>"
        $('.collections').html(html.join(''))

      $('#show-metrics').click (e) ->
        e.preventDefault()
        $.get "/metrics.json", {}, (data) ->
          row = d3.select(".chart")
            .selectAll("div")
            .data(data)
              .enter()
              .append("div")
              .attr('class', 'row')
          row
              .append("div")
                .attr('class', 'lab col-sm-3')
                .text (d) -> return Date(d.key.split(':')[2])
          row
              .append("div")
                .attr('class', 'bar col-sm-9')
                .style "width", (d) -> return 30*d.value + "px"
                .text (d) -> return  d.value
          $('.chart').show()



