
body{
    background-color: #EAEFF5;
}

.container{
    text-align: center;
}


.chart{
    background-color: rgb(255, 255, 255);
    border: solid 1px transparent;
    border-radius: 5px;
    
    
}


.lab{
    margin: 1px;
    text-align: right;
}

h1{
    margin: 30px 0px;
}

.line{
    fill: none;
    stroke: steelblue;
    stroke-width: 2px;
    
}

.area{
    fill: lightsteelblue;
    stroke-width: 0;
}

.chartComponent{
    padding: 5px;
    margin: 30px auto;
}
